body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;    
}

.wrapper {
    position: relative;
  }
  
  .sfondo-box {
    position: relative;
    z-index: 1;
   
  }
  .poem {
    position: absolute;
  z-index: 3; 
  width: 80%;
  left: 60px;
  top: 300px;
  float: right;
  }

 
 #eye-cont {
    width: 480px;
    display: block;
    position: absolute;
    left: 60%;
    top: 100px;
    
 }
 #eye-cont img {
    width: 100%;
 }


  
  .pupil {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(78, 3, 3);
    z-index : 10;
    top: calc(50% - 20px);
    left: calc(50% - 10px);
    bottom: calc(10% - 10px);

   
  }

  a {
    text-decoration: none;
  }
  
  